{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}Add Tracks To A {{ media_str.upper() }}{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Add Track #{{ form.track_number }} To {{ form.title }}</h1>
</div>

<div class="container">
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <!-- Track Meta Data -->
        <div class="row row-cols-auto">
          <div class="col-sm-2">
            <b>{{ form.track_name.label }}:</b>
          </div>
          <div class="col">
            {{ form.track_name }}
          </div>
        </div>
        {% if media_str == "cassette" %}
        <div class="row row-cols-auto top10">
          <div class="col-sm-2">
            <b>{{ form.track_artist.label }}:</b>
          </div>
          <div class="col">
            {{ form.track_artist }}
          </div>
        </div>
        {% endif %}
        <div class="row row-cols-auto top10">
          <div class="col-sm-2">
            <b>{{ form.track_mixer.label }}:</b>
          </div>
          <div class="col">
            {{ form.track_mixer }}
          </div>
        </div>
        {% if media_str == "cassette" %}
        <div class="row row-cols-auto top10">
          <div class="col-sm-2">
            <b>{{ form.track_release_year.label }}:</b>
          </div>
          <div class="col">
            {{ form.track_release_year }}
          </div>
        </div>
        {% endif %}

        <!-- Loop through to pick each song information -->
        {% for song in form.track_songs %}
          <hr class="hr-md" style="width:75%;text-align:left;margin-left:0">
          <div class="row row-cols-auto">
            <div class="col-md-2">
              <h3><u><b>Song #{{ loop.index }}:</b></u></h3>
            </div>
          </div>

          <!-- Collect song meta information -->
          <div class="row row-cols-auto top10">
            <div class="col-sm-1">
              <b>Song Title:</b>
            </div>
            <div class="col">
              {{ song.form.song_title }}
            </div>
            <div class="col">
              <b>Mix:</b>
            </div>
            <div class="col">
              {{ song.form.song_mix }}
            </div>
          </div>

          <div class="row row-cols-auto top10">
            <div class="col-sm-1">
              <b>Feat. In:</b>
            </div>
            <div class="col">
              {{ song.form.song_featured_in }}
            </div>

            <div class="col">
              <b>List Main Artist?</b>
            </div>
            <div class="col">
              {{ song.form.song_list_main_artist }}
            </div>

            <div class="col">
              <b>Main Artist Sequel</b>
            </div>
            <div class="col">
              {{ song.form.song_main_artist_sequel }}
            </div>
          </div>

          <!-- Collect additional song artists -->
          <hr class="hr-sm" style="width:60%;text-align:left;margin-left:0">
          {% for additional_artist in song.form.song_additional_artists %}
            <div class="row row-cols-auto removeclass_artist_{{ loop.index0 }}_0" id="row_{{ loop.index0 }}_0">
              <div class="col-sm-2">
                <b>Additional Artist</b>
              </div>
              <div class="col">
                Prequel
              </div>
              <div class="col">
                {{ additional_artist.form.additional_artist_prequel }}
              </div>
              <div class="col">
                Artist Name
              </div>
              <div class="col">
                {{ additional_artist.form.additional_artist }}
              </div>
              <div class="col">
                Sequel
              </div>
              <div class="col">
                {{ additional_artist.form.additional_artist_sequel }}
              </div>           
              <div class="col plus_artist_button_{{ loop.index0 }}_0">
                <div class="btn-group" role="group">
                  <button class="btn btn-success" type="button"  onclick="additional_artist_fields('0','0')"> <span class="bi bi-plus" aria-hidden="true"></span> </button>
                </div>
              </div>
            </div>
          {% endfor %}

          <!-- Collect classical song meta information-->
          <hr class="hr-sm" style="width:60%;text-align:left;margin-left:0">
          <div class="row row-cols-auto">
            <div class="col-sm-2">
              <b>{{ song.form.song_classical_work.label }}:</b>
            </div>
            <div class="col">
              {{ song.form.song_classical_work }}
            </div>
          </div>

          <!-- Collect classical song composers -->
          <div class="row row-cols-auto top10">
            <div class="col-sm-2">
              <b>{{ song.form.song_classical_composer_1.label }}</b>
            </div>
            <div class="col">
              {{ song.form.song_classical_composer_1 }}
            </div>
          </div>
          <div class="row row-cols-auto">
            <div class="col-sm-2">
              <b>{{ song.form.song_classical_composer_2.label }}</b>
            </div>
            <div class="col">
              {{ song.form.song_classical_composer_2 }}
            </div>
          </div>

          <!-- Collect extraneous song information -->
          <hr style="width:60%;text-align:left;margin-left:0">
          <div class="row row-cols-auto">
            <div class="col">
              <b>{{ song.form.song_country.label }}:</b>
            </div>
            <div class="col">
              {{ song.form.song_country }}
            </div>
            <div class="col">
              <b>{{ song.form.song_year.label }}</b>
            </div>
            <div class="col">
              {{ song.form.song_year }}
            </div>
          </div>

          <!-- Collect song parts -->
          <hr style="width:60%;text-align:left;margin-left:0">
          <div class="row row-cols-auto">
            <div class="col-md-2">
              <b>{{ song.form.song_parts.label }}:</b>
            </div>
            <div class="col-md-2">
              {{ song.form.song_parts(cols=40, row=7) }}
            </div>
          </div>
          <div class="plus_song_button_0">
            <div class="row row-cols-auto">
              <div class="col">
                <div class="btn-group" role="group">
                  <button class="btn btn-success" type="button"  onclick="additional_song_fields();"> <span class="bi bi-plus" aria-hidden="true"></span> </button>
                </div>
              </div>
            </div>
          </div>
          <div id="additional_song_fields"></div>
        {% endfor %}



        <div class="row row-cols-auto top20">
            <div class="col">
              <input type="submit" name="add_track" value="Add Another Track">
            </div>
            <div class="col">
                <input type="submit" name="finish" value="Save And Finish">
            </div>
            <div class="col">
              <input type="submit" name="cancel" value="Cancel">
            </div>
          </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script nonce="{{ csp_nonce() }}">
  var song_num = 0;

  function additional_artist_fields(artist_num, current_song_num) {
 
    var track_num = {{ form.track_num }} - 1;
    artist_num++;
    previous_button_id = artist_num - 1;

    $('.plus_artist_button_'+previous_button_id+'_'+current_song_num).remove();
    if (artist_num > 1) {$('.minus_button_'+previous_button_id+'_'+current_song_num).remove()};
    var objTo = document.getElementById('row_'+previous_button_id+'_'+current_song_num);
    var divAdditionalArtist = document.createElement("div");
    divAdditionalArtist.setAttribute("class", "row row-cols-auto removeclass_artist_"+artist_num+'_'+current_song_num);
    divAdditionalArtist.setAttribute("id", "row_"+artist_num+'_'+current_song_num)
    divAdditionalArtist.innerHTML = '\
            <div class="col-sm-2">\
              <b>Additional Artist</b>\
            </div>\
            <div class="col">\
              Prequel\
            </div>\
            <div class="col">\
                <input id="track_songs-'+current_song_num+'-song_additional_artists-'+artist_num+'-additional_artist_prequel" maxlength="20" minlength="0" name="track_songs-'+current_song_num+'-song_additional_artists-'+artist_num+'-additional_artist_prequel" type="text" value="">\
            </div>\
            <div class="col">\
              Artist Name\
            </div>\
            <div class="col">\
                <input id="track_songs-'+current_song_num+'-song_additional_artists-'+artist_num+'-additional_artist" maxlength="40" minlength="0" name="track_songs-'+current_song_num+'-song_additional_artists-'+artist_num+'-additional_artist" type="text" value="">\
            </div>\
            <div class="col">\
              Sequel\
            </div>\
            <div class="col">\
                <input id="track_songs-'+current_song_num+'-song_additional_artists-'+artist_num+'-additional_artist_sequel" maxlength="20" minlength="0" name="track_songs-'+current_song_num+'-song_additional_artists-'+artist_num+'-additional_artist_sequel" type="text" value="">\
            </div>\
            <div class="col plus_artist_button_'+artist_num+'_'+current_song_num+'">\
              <div class="btn-group" role="group">\
                <button class="btn btn-success" type="button"  onclick="additional_artist_fields('+artist_num+','+current_song_num+');"> <span class="bi bi-plus" aria-hidden="true"></span> </button>\
              </div>\
            </div>\
            <div class="col minus_button_'+artist_num+'_'+current_song_num+'">\
              <div class="btn-group" role="group">\
                <button class="btn btn-danger" type="button" onclick="remove_additional_artist_fields('+ artist_num +','+current_song_num+');"> <span class="bi bi-dash-lg" aria-hidden="true"></span></button>\
             </div>\
            </div>\
          </div>\
      ';
    objTo.after(divAdditionalArtist);
  }
  
  function remove_additional_artist_fields(rid, current_song_num) {
    // Remove current row row-cols-auto (rid should point at current row row-cols-auto)
	  $('.removeclass_artist_'+rid+'_'+current_song_num).remove();

    // Add plus button in previous row
    previous_rid = rid - 1;
    var objTo = document.getElementById('row_'+previous_rid+'_'+current_song_num);
    var divPlusButton = document.createElement("div");
    divPlusButton.setAttribute("class", "col plus_artist_button_"+previous_rid+"_"+current_song_num);
    divPlusButton.innerHTML = '\
            <div class="btn-group" role="group">\
              <button class="btn btn-success" type="button"  onclick="additional_artist_fields('+previous_rid+','+current_song_num+');"> <span class="bi bi-plus" aria-hidden="true"></span> </button>\
            </div>\
    ';
    objTo.appendChild(divPlusButton);

    // Unless we are at the first row, add the minus button
    if (previous_rid > 0) {
      var divMinusButton = document.createElement("div");
      divMinusButton.setAttribute("class", "col minus_button_"+previous_rid+"_"+current_song_num);
      divMinusButton.innerHTML = '\
            <div class="btn-group" role="group">\
              <button class="btn btn-danger" type="button" onclick="remove_additional_artist_fields('+ previous_rid +','+current_song_num+');"> <span class="bi bi-dash-lg" aria-hidden="true"></span></button>\
            </div>\
      ';
      objTo.appendChild(divMinusButton);
    }
  }

  function additional_song_fields(artist_num) {
 
    song_num++;
    track_song_id = song_num + 1;
    previous_button_id = song_num - 1;
    new_artist_num = artist_num + 1;
    $('.plus_song_button_'+previous_button_id).remove();
    var objTo = document.getElementById('additional_song_fields')
    var divSongFields = document.createElement("div");
	  divSongFields.setAttribute("class", "form-group removeclass_song"+song_num);
    divSongFields.innerHTML = '<hr class="hr-md" style="width:75%;text-align:left;margin-left:0">\
          <div class="row row-cols-auto">\
            <div class="col-md-2">\
              <h3><u><b>Song #'+track_song_id+':</b></u></h3>\
            </div>\
          </div>\
          <div class="row row-cols-auto top10">\
            <div class="col-sm-1">\
              <b>Song Title:</b>\
            </div>\
            <div class="col">\
              <input id="track_songs-'+song_num+'-song_title" maxlength="60" minlength="0" name="track_songs-'+song_num+'-song_title" type="text" value="">\
            </div>\
            <div class="col">\
              <b>Mix:</b>\
            </div>\
            <div class="col">\
              <input id="track_songs-'+song_num+'-song_mix" maxlength="40" minlength="0" name="track_songs-'+song_num+'-song_mix" type="text" value="">\
            </div>\
          </div>\
          <div class="row row-cols-auto top10">\
            <div class="col-sm-1">\
              <b>Feat. In:</b>\
            </div>\
            <div class="col">\
              <input id="track_songs-'+song_num+'-song_featured_in" maxlength="40" minlength="0" name="track_songs-'+song_num+'-song_featured_in" type="text" value="">\
            </div><div class="col">\
              <b>List Main Artist?</b>\
            </div>\
            <div class="col">\
              <input id="track_songs-'+song_num+'-song_list_main_artist" name="track_songs-'+song_num+'-song_list_main_artist" type="checkbox" value="y">\
            </div>\
            <div class="col">\
              <b>Main Artist Sequel</b>\
            </div>\
            <div class="col">\
               <input id="track_songs-'+song_num+'-song_main_artist_sequel" maxlength="40" minlength="0" name="track_songs-'+song_num+'-song_main_artist_sequel" type="text" value="">\
            </div>\
          </div>\
          <!-- Collect additional song artists -->\
          <hr class="hr-sm" style="width:60%;text-align:left;margin-left:0">\
          <div class="row row-cols-auto removeclass_artist_0_'+song_num+'" id="row_0_'+song_num+'">\
            <div class="col-sm-2">\
              <b>Additional Artist</b>\
            </div>\
            <div class="col">\
              <label for="track_songs-'+song_num+'-song_additional_artists-0-additional_artist_prequel">Prequel</label>\
            </div>\
            <div class="col">\
              <input id="track_songs-'+song_num+'-song_additional_artists-0-additional_artist_prequel" maxlength="20" minlength="0" name="track_songs-'+song_num+'-song_additional_artists-0-additional_artist_prequel" type="text" value="">\
            </div>\
            <div class="col">\
              Artist Name\
            </div>\
            <div class="col">\
              <input id="track_songs-'+song_num+'-song_additional_artists-0-additional_artist" maxlength="40" minlength="0" name="track_songs-'+song_num+'-song_additional_artists-0-additional_artist" type="text" value="">\
            </div>\
            <div class="col">\
              Sequel\
            </div>\
            <div class="col">\
              <input id="track_songs-'+song_num+'-song_additional_artists-0-additional_artist_sequel" maxlength="20" minlength="0" name="track_songs-'+song_num+'-song_additional_artists-0-additional_artist_sequel" type="text" value="">\
            </div>\
            <div class="col plus_artist_button_0_'+song_num+'">\
              <div class="btn-group" role="group">\
                <button class="btn btn-success" type="button"  onclick="additional_artist_fields(0, '+song_num+');"> <span class="bi bi-plus" aria-hidden="true"></span> </button>\
              </div>\
            </div>\
          </div>\
          <!-- Collect classical song meta information-->\
          <hr class="hr-sm" style="width:60%;text-align:left;margin-left:0">\
          <div class="row row-cols-auto">\
            <div class="col-sm-2">\
              <b>Classical Work:</b>\
            </div>\
            <div class="col">\
              <input id="track_songs-'+song_num+'-song_classical_work" maxlength="40" minlength="0" name="track_songs-'+song_num+'-song_classical_work" type="text" value="">\
            </div>\
          </div>\
          <div class="row row-cols-auto top10">\
            <div class="col-sm-2">\
              <b>Classical Comp. 1</b>\
            </div>\
            <div class="col">\
              <input id="track_songs-'+song_num+'-song_classical_composer_1" maxlength="40" minlength="0" name="track_songs-'+song_num+'-song_classical_composer_1" type="text" value="">\
            </div>\
          </div>\
          <div class="row row-cols-auto">\
            <div class="col-sm-2">\
              <b>Classical Comp. 2</b>\
            </div>\
            <div class="col">\
              <input id="track_songs-'+song_num+'-song_classical_composer_2" maxlength="40" minlength="0" name="track_songs-'+song_num+'-song_classical_composer_2" type="text" value="">\
            </div>\
          </div>\
          <!-- Collect extraneous song information -->\
          <hr style="width:60%;text-align:left;margin-left:0">\
          <div class="row row-cols-auto">\
            <div class="col">\
              <b>Country:</b>\
            </div>\
            <div class="col">\
              <input id="track_songs-'+song_num+'-song_country" maxlength="20" minlength="0" name="track_songs-'+song_num+'-song_country" type="text" value="">\
            </div>\
            <div class="col">\
              <b>Release Year</b>\
            </div>\
            <div class="col">\
              <input id="track_songs-'+song_num+'-song_year" maxlength="4" minlength="0" name="track_songs-'+song_num+'-song_year" type="text" value="">\
            </div>\
          </div>\
          <!-- Collect song parts -->\
          <hr style="width:60%;text-align:left;margin-left:0">\
          <div class="row row-cols-auto">\
            <div class="col-md-2">\
              <b>Song Parts:</b>\
            </div>\
            <div class="col-md-2">\
              <textarea cols="40" id="track_songs-'+song_num+'-song_parts" name="track_songs-'+song_num+'-song_parts" rows="7"></textarea>\
            </div>\
          </div>\
          <div class="plus_song_button_'+song_num+'">\
            <div class="row row-cols-auto">\
                <div class="col">\
                <div class="btn-group" role="group">\
                  <button class="btn btn-success" type="button"  onclick="additional_song_fields();"> <span class="bi bi-plus" aria-hidden="true"></span> </button>\
                </div>\
              </div>\
            </div>\
          </div>\
';
    
    objTo.appendChild(divSongFields)
  }



  function remove_song_fields(rid) {
	  $('.removeclass_song'+rid).remove();
  }
</script>
{% endblock %}
