<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        {% block title %}
            <title>MacMedia</title>
        {% endblock %}

        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
        {% endblock %}
    </head>
    <body>

        <link rel="shortcut icon" href="{{ url_for('static', filename='headphones.jpg') }}" type="image/jpeg">
        <link rel="icon" href="{{ url_for('static', filename='headphones.jpg') }}" type="image/jpeg">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

        {% block navbar %}
           <div class="navbar navbar-expand-lg">
               <div class="container-fluid">
                   <div class="nav-header me-auto">
                       <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-target="navbarSupportedContent">
                           <span class="sr-only">Toggle navigation</span>
                       </button>
                       <a href="{{ url_for('index') }}" class="navbar-brand me-auto">MacLeod's Media Library Home</a>
                   </div>
                   {% if current_user.is_authenticated %}
                       <div class="navbar-collapse" id="navbarSupportedContent">
                           <ul class="navbar-nav ms-auto mb-2">
                               <li class="nav-item dropdown">
                                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                       <img src="{{ url_for('static', filename='headphones.jpg') }}", alt="headphones">
                                       MacLeod's Media
                                   </a>
                                   <ul class="dropdown-menu" aria-labelledby="navbarDropDown">
                                       <li><a class="dropdown-item" href="{{ url_for('dvds.index') }}">MacLeod's DVD Movie Library</a></li>
                                       <li><a class="dropdown-item" href="{{ url_for('cassettes.index') }}">MacLeod's Music Cassette Library</a></li>
                                       <li><a class="dropdown-item" href="{{ url_for('cds.index') }}">MacLeod's Music CD Library</a></li>
                                       <li><a class="dropdown-item" href="{{ url_for('elps.index') }}">MacLeod's Music ELP Library</a></li>
                                       <li><a class="dropdown-item" href="{{ url_for('lps.index') }}">MacLeod's Music LP Library</a></li>
                                       <li><a class="dropdown-item" href="{{ url_for('mini_cds.index') }}">MacLeod's Music Mini CD Library</a></li>
                                       <li><hr class="dropdown-divider"></li>
                                       <li><a class="dropdown-item" href="{{ url_for('change_password') }}">Change Password for {{ current_user.username }}</a></li>
                                       <li><hr class="dropdown-divider"></li>
                                       <li><a class="dropdown-item"  href="{{ url_for('logout') }}">Logout {{ current_user.username }}</a></li>
                                   </ul>
                               </li>
                           </ul>
                       </div>
                   {% endif %}
                </div>
            </div>

            {% if breadcrumbs|length > 1 %}
                <div class="container-fluid">
                    <h3>
                        <a href="{{ breadcrumbs[-2].url }}">{{ breadcrumbs[-2].text }}</a>
                    </h3>
                </div>
            {% endif %}

        {% endblock %}

        <!-- Your page content -->
        {% block content %}

            <div class="container">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}

                {% block page_content %}{% endblock %}
            </div>
        {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js(nonce=csp_nonce()) }}
            <script  nonce="{{ csp_nonce() }}" type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script  nonce="{{ csp_nonce() }}" type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
            <script  nonce="{{ csp_nonce() }}" type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
        {% endblock %}


    </body>
</html>
