{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Change Password{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Change Password for {{ g.user }}</h1>
</div>
<div class="container-fluid">

  <form method="post">
    <div class="row form-group col-md-4">
      <label for="old_password">Old Password</label>
      <input type="password" name="old_password" id="old_password" required>
    </div>
    <div class="row form-group col-md-4">
      <label for="new_password">New Password</label>
      <input type="password" name="new_password" id="new_password" required>
    </div>
    <div class="row form-group col-md-4">
      <label for="comfirm_password">Comfirm New Password</label>
      <input type="password" name="confirm_password" id="confirm_password" required>
    </div>
    <input type="submit" value="Change Password">
  </form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}