{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DVDs Library Main Page{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>DVDs Library Main Page</h1>
</div>

<h2><a href="{{ url_for('.add_dvd') }}" class="btn btn-success">Add New DVD To Library</a></h2>

<table id="dvdlist" class="table table-striped" border="10">
    <thead>
      <tr>
        <th class="th-sm">Title </th>
        <th class="th-sm">Series</th>
        <th class="th-sm">Year </th>
        <th class="th-sm">Set </th>
        <th class="th-sm">Media Type</th>
        <th class="th-sm">Music DVD?</th>
        <th class="th-sm">Music Artist</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script>
  $(document).ready(function(){
    $('table#dvdlist').DataTable({
      ajax: '/api/dvds',
      columns: [
        {data: 'title'},
        {data: 'series'},
        {data: 'year'},
        {data: 'set', orderable: false, searchable: false},
        {data: 'media_type', searchable: false},
        {data: 'music_type', orderable: false, searchable: false},
        {data: 'artist', searchable: false}],
    });
  });
</script>
<!--
<script>
  $(document).ready(function(){
    $('#dvdlist').DataTable();
  });
</script>
-->

{% endblock %}