{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DVDs Library Main Page{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>DVDs Library Main Page</h1>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</div>

<h2><a href="{{ url_for('.add_dvd') }}" class="btn btn-success">Add New DVD To Library</a></h2>

<table id="dvdlist" class="table table-striped" border="10">
    <thead>
      <tr>
        <th class="th-sm">ID</th>
        <th class="th-sm">Title </th>
        <th class="th-sm">Series</th>
        <th class="th-sm">Year </th>
        <th class="th-sm">Set </th>
        <th class="th-sm">Media Type</th>
        <th class="th-sm">Music DVD?</th>
        <th class="th-sm">Music Artist</th>
        <th class="th-sm">Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script nonce="{{ csp_nonce() }}">
  $(document).ready(function(){
    var table = $('#dvdlist').DataTable({
      ajax: '/api/v1/dvds',
      columns: [
        {data: 'id', visible: false, searchable: false},
        {data: 'title'},
        {data: 'series'},
        {data: 'year'},
        {data: 'set', orderable: false, searchable: false},
        {data: 'media_type', searchable: false},
        {data: 'music_type', orderable: false, searchable: false},
        {data: 'artist', searchable: false},
        {data: null, orderable: false, defaultContent: "<button id=\"modify\"><i class=\"fa fa-pencil\" style=\"font-size:16px\"></i></button> <button id=\"delete\"><svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" class=\"bi bi-trash\" viewBox=\"0 0 16 16\"> <path d=\"M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z\"/> <path fill-rule=\"evenodd\" d=\"M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z\"/> </svg></button>"}],
    });

    $('#dvdlist tbody').on('click', 'button#modify', function(){
      var data = table.row( $(this).parents('tr') ).data();
      var this_url = window.location.href;
      console.log(table.row( $(this) ).data());
      window.location = this_url + "modify/" + data['id'];
    });

    $('#dvdlist tbody').on('click', 'button#delete', function(){
      var data = table.row( $(this).parents('tr') ).data();
      var this_url = window.location.href;
      console.log(table.row( $(this) ).data());
      window.location = this_url + "delete/" + data['id'];
    });
  });
</script>
<!--
        {data: null,
        defaultContent: "<a href=\"{{ url_for('.modify_dvd', id='0') }}\" class=\"btn btn-success\">Modify</a>"}],
<script>
  $(document).ready(function(){
    $('#dvdlist').DataTable();
  });
</script>
-->

{% endblock %}