{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login To MacMedia{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login To MacMedia</h1> <form method="post">
</div>
<div class="container-fluid">

  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="radio" name="remember_me" id="remember_me" value="0">
    <label for="remember_me">Remember me?</label>
    <input type="submit" value="Log In">
  </form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}