{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}MacMedia{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Pick Your Media Library</h1>
</div>

<div class="row macmedia-bordered align-items-left pb-2">
  <div class="macmedia-selection">
    <div class="col-md-6">
      <a href="{{ url_for( 'dvds.index' ) }}">
	      <img src="{{ url_for('static', filename='dvd.png') }}" width="120" height="120" data-toggle="tooltip" data-placement="top" alt="Dvds"/>
            MacLeod's Movie DVD Library
      </a>
    </div>
  </div>
</div>
<div class="row macmedia-bordered align-items-left pb-2">
  <div class="macmedia-selection">
    <div class="col-md-6">
      <a href="{{ url_for( 'cds.index' ) }}">
	      <img src="{{ url_for('static', filename='cd.png') }}" width="120" height="120" data-toggle="tooltip" data-placement="top" alt="CDs"/>
            MacLeod's Music CD Library
        </a>
    </div>
    <div class="col-md-6">
      <a href="{{ url_for( 'mini_cds.index' ) }}">
        <img src="{{ url_for('static', filename='mini_cd.png') }}" width="120" height="120" data-toggle="tooltip" data-placement="top" alt="Mini Cds"/>
            MacLeod's Music Mini CD Library
      </a>
    </div>
  </div>
</div>
<div class="row macmedia-bordered align-items-left pb-2">
  <div class="macmedia-selection">
    <div class="col-md-6">
      <a href="{{ url_for( 'cassettes.index' ) }}">
	      <img src="{{ url_for('static', filename='cassette.png') }}" width="120" height="120" data-toggle="tooltip" data-placement="top" alt="Cassettes"/>
            MacLeod's Music Cassette Library
      </a>
    </div>
  </div>
</div>
<div class="row macmedia-bordered align-items-left pb-2">
  <div class="macmedia-selection">
    <div class="col-md-6">
      <a href="{{ url_for( 'lps.index' ) }}">
         <img src="{{ url_for('static', filename='album.png') }}" width="120" height="120" data-toggle="tooltip" data-placement="top" alt="LPs"/>
          MacLeod's Music LP Library
      </a>
    </div>
    <div class="col-md-6">
      <a href="{{ url_for( 'elps.index' ) }}">
        <img src="{{ url_for('static', filename='mini_album.png') }}" width="120" height="120" data-toggle="tooltip" data-placement="top" alt="Mini EPs"/>
        MacLeod's Music ELP Library
      </a>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
