{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}Modify {{ media_str.upper() }} Track Information{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Modify Track #{{ form.track_number}} on "<b>{{ form.title }}</b>" Information</h1>
</div>
<hr class="hr-md">


<div class="container">
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
        {% if form.new_track %}
            <div class="col">
		          <h2>Adding New Track To {{ media_str.upper() }}:</h2>
            </div>
        </div>
        </div class="row top20">
        {% endif %}

          <div class="col-2">
            <b>{{ form.track_name.label }}</b>
          </div>
          <div class="col-2">
            {{ form.track_name }}
          </div>
          <div class="col-1">
            <br>
          </div>
          {% if media_str == "cassette" %}
            <div class="col-2">
              <b>{{ form.track_artist.label }}:</b>
            </div>
            <div class="col-2">
              {{ form.track_artist }}
            </div>
          </div>
          <div class="row top10">
          {% endif %}
          <div class="col-2">
            <b>{{ form.track_mixer.label }}</b>
          </div>
          <div class="col-2">
            {{ form.track_mixer }}
          </div>
          {% if media_str == "cassette" %}
            <div class="col-1">
              <br>
            </div>
            <div class="col-2">
              <b>{{ form.track_release_year.label }}:</b>
            </div>
            <div class="col-2">
              {{ form.track_release_year }}
            </div>
          {% endif %}
        </div>

        <div class="row row-cols-auto top20">
          <div class="col">
            <input type="submit" name="save" value="Save And Finish">
          </div>
          <div class="col">
            <input type="submit" name="modify_next_track" value="Save And Modify Next Track">
          </div>
          <div class="col">
            <input type="submit" name="modify_songs" value="Save And Modify Track Songs">
          </div>
          <div class="col">
            <input type="submit" name="cancel" value="Cancel">
          </div>
        </div>
        
    </form>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

{% endblock %}
