{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}Modify A Song On An {{ media_str.upper() }} Track{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Modify A Song On Track "<b>{{ track_name }}</b>" of {{ media_str.upper() }} "<b>{{ title }}</b>"</h1>
</div>
<hr class="hr-md">

<div class="container">
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <div class="row row-cols-auto">
          {% if song_id != 1 and song_id != -999 %}
            <div class="col">
              <input type="submit" name="previous_song" value="Go To Previous Song">
            </div>
          {% else %}
            <div class="col"></div>
          {% endif %}

          {% if template_new_song %}
            <div class="col"></div>
            <div class="col"></div>
          {% else %}
            <div class="col">
              <input type="submit" name="insert_song" value="Insert New Song">
            </div>
            <div class="col">
              <input type="submit" name="delete_song" value="Delete Song">
            </div>
          {% endif %}

          {% if template_last_song %}
            {% if song_id < 0 %}
              <div class="col"></div>
            {% else %}
              <div class="col">
                <input type="submit" name="append_new_song" value="Append New Song">
              </div>
            {% endif %}
          {% else %}
            <div class="col">
              <input type="submit" name="next_song" value="Go To Next Song">
            </div>
          {% endif %}
        </div>

        <div class="row row-cols-auto top20">
          <div class="col">
            {% if template_new_song %}
            <u><b>New Song:</b></u>
            {% else %}
            <u><b>Song #{{ song_id }}:</b></u>
            {% endif %}
          </div>
        </div>

        <!-- Collect song meta information -->
        <div class="row row-cols-auto top10">
          <div class="col-sm-1">
            <b>Song Title:</b>
          </div>
          <div class="col">
            {{ form.song_title }}
          </div>
          <div class="col">
            <b>Mix:</b>
          </div>
          <div class="col">
            {{ form.song_mix }}
          </div>
        </div>

        <div class="row row-cols-auto top10">
          <div class="col-sm-1">
            <b>Feat. In:</b>
          </div>
          <div class="col">
            {{ form.song_featured_in }}
          </div>
          <div class="col">
            <b>List Main Artist?</b>
          </div>
          <div class="col">
            {{ form.song_list_main_artist }}
          </div>
          <div class="col">
            <b>Main Artist Sequel</b>
          </div>
          <div class="col">
            {{ form.song_main_artist_sequel }}
          </div>
        </div>

        <!-- Collect additional song artists -->
        <hr class="hr-sm" style="width:60%;text-align:left;margin-left:0">
        {% for additional_artist in form.song_additional_artists %}
          <div class="row row-cols-auto removeclass_artist{{ loop.index }}" id="artist_row_{{ loop.index }}">
            <div class="col-sm-2">
              <b>Additional Artist</b>
            </div>
            <div class="col">
              Prequel
            </div>
            <div class="col">
              {{ additional_artist.additional_artist_prequel }}
            </div>
            <div class="col">
              Artist Name
            </div>
            <div class="col">
              {{ additional_artist.additional_artist }}
            </div>
            <div class="col">
              Sequel
            </div>
            <div class="col">
              {{ additional_artist.additional_artist_sequel }}
            </div>
            {% if loop.last  %}
            <div class="col plus_artist_button_{{ loop.index }}">
              <div class="btn-group" role="group">
                <button class="btn btn-success" type="button"  onclick="additional_artist_fields({{ loop.index }});"> <span class="bi bi-plus" aria-hidden="true"></span> </button>
              </div>
            </div>
            {% if loop.index != 1 %}
            <div class="col minus_artist_button_{{ loop.index }}">
              <div class="btn-group" role="group">
               <button class="btn btn-danger" type="button" onclick="remove_additional_artist_fields({{ loop.index }});"> <span class="bi bi-dash-lg" aria-hidden="true"></span></button>
              </div>
            </div>
            {% endif %}
            {% endif %}
          </div>
        {% endfor %}

        <!-- Collect classical song meta information-->
        <hr class="hr-sm" style="width:60%;text-align:left;margin-left:0">
        <div class="row row-cols-auto">
          <div class="col-sm-2">
            <b>{{ form.song_classical_work.label }}:</b>
          </div>
          <div class="col">
            {{ form.song_classical_work }}
          </div>
        </div>

        <!-- Collect classical song composers -->
        <div class="row row-cols-auto top10">
          <div class="col-sm-2">
            <b>{{ form.song_classical_composer_1.label }}</b>
          </div>
          <div class="col">
            {{ form.song_classical_composer_1 }}
          </div>
        </div>
        <div class="row row-cols-auto">
          <div class="col-sm-2">
            <b>{{ form.song_classical_composer_2.label }}</b>
          </div>
          <div class="col">
            {{ form.song_classical_composer_2 }}
          </div>
        </div>

        <!-- Collect extraneous song information -->
        <hr style="width:60%;text-align:left;margin-left:0">
        <div class="row row-cols-auto">
          <div class="col">
            <b>{{ form.song_country.label }}:</b>
          </div>
          <div class="col">
            {{ form.song_country }}
          </div>
          <div class="col">
            <b>{{ form.song_year.label }}</b>
          </div>
          <div class="col">
            {{ form.song_year }}
          </div>
        </div>

        <!-- Collect song parts -->
        <hr style="width:60%;text-align:left;margin-left:0">
        <div class="row row-cols-auto">
          <div class="col-md-2">
            <b>{{ form.song_parts.label }}:</b>
          </div>
          <div class="col-md-2">
            {{ form.song_parts(cols=40, rows=7) }}
          </div>
        </div>

        <div class="row top20">
          <div class="col-md-2">
            <input type="submit" name="save_and_finish" value="Save And Finish">
          </div>
          <div class="col-md-2">
            <input type="submit" name="save" value="Save Song">
          </div>
          <div class="col-md-2">
            <input type="submit" name="cancel" value="Cancel">
          </div>
        </div>

    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script nonce="{{ csp_nonce() }}">
  
  var artist_num = 1;

  function additional_artist_fields(rid) {
 
    artist_num = rid;
    artist_num++;
    var previous_button_id = artist_num - 1;
    $('.plus_artist_button_'+previous_button_id).remove();
    if (artist_num > 1) {$('.minus_artist_button_'+previous_button_id).remove()};
    var objTo = document.getElementById('artist_row_'+previous_button_id);
    var divAdditionalArtist = document.createElement("div");
    divAdditionalArtist.setAttribute("class", "row row-cols-auto removeclass_artist"+artist_num);
    divAdditionalArtist.setAttribute("id", "artist_row_"+artist_num)
    divAdditionalArtist.innerHTML = '\
            <div class="col-sm-2">\
              <b>Additional Artist</b>\
            </div>\
            <div class="col">\
              Prequel\
            </div>\
            <div class="col">\
                <input id="song_additional_artists-'+artist_num+'-additional_artist_prequel" maxlength="20" minlength="0" name="song_additional_artists-'+artist_num+'-additional_artist_prequel" type="text" value="">\
            </div>\
            <div class="col">\
              Artist Name\
            </div>\
            <div class="col">\
                <input id="song_additional_artists-'+artist_num+'-additional_artist" maxlength="40" minlength="0" name="song_additional_artists-'+artist_num+'-additional_artist" type="text" value="">\
            </div>\
            <div class="col">\
              Sequel\
            </div>\
            <div class="col">\
                <input id="song_additional_artists-'+artist_num+'-additional_artist_sequel" maxlength="20" minlength="0" name="song_additional_artists-'+artist_num+'-additional_artist_sequel" type="text" value="">\
            </div>\
            <div class="col plus_artist_button_'+artist_num+'">\
              <div class="btn-group" role="group">\
                <button class="btn btn-success" type="button"  onclick="additional_artist_fields('+artist_num+');"> <span class="bi bi-plus" aria-hidden="true"></span> </button>\
              </div>\
            </div>\
            <div class="col minus_artist_button_'+artist_num+'">\
              <div class="btn-group" role="group">\
               <button class="btn btn-danger" type="button" onclick="remove_additional_artist_fields('+ artist_num +');"> <span class="bi bi-dash-lg" aria-hidden="true"></span></button>\
              </div>\
            </div>\
          </div>\
      ';
    objTo.after(divAdditionalArtist)

  }

  function remove_additional_artist_fields(rid) {
	  $('.removeclass_artist'+rid).remove();
    artist_num = rid - 1;
    var objTo = document.getElementById('artist_row_'+artist_num);
    var plusButton = document.createElement("div");
	  plusButton.setAttribute("class", "col plus_artist_button_"+artist_num);
    plusButton.innerHTML = '\
      <div class="btn-group" role="group">\
        <button class="btn btn-success" type="button"  onclick="additional_artist_fields('+artist_num+');"> <span class="bi bi-plus" aria-hidden="true"></span> </button>\
      </div>';
    objTo.appendChild(plusButton);
    if (artist_num != 1) {
      var minusButton = document.createElement("div");
      minusButton.setAttribute("class", "col minus_artist_button_"+artist_num);
      minusButton.innerHTML = '\
        <div class="btn-group" role="group">\
          <button class="btn btn-danger" type="button" onclick="remove_additional_artist_fields('+ artist_num +');"> <span class="bi bi-dash-lg" aria-hidden="true"></span></button>\
        </div>';
      plusButton.after(minusButton);
    };
  }

</script>
{% endblock %}
