{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block title %}Music Media Library {{ media_str.upper() }}s Main Page{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Music Media Library {{ media_str.upper() }} Main Page</h1>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</div>

<h2><a href="{{ url_for('.add') }}" class="btn btn-success">Add New {{ media_str.upper() }} To Music Media Library</a></h2>

<table id="medialist" class="table table-striped" border="10">
    <thead>
      <tr>
        <th class="th-sm">Title</th>
        <th class="th-sm">ID</th>
        <th class="th-sm">Title </th>
        <th class="th-sm">Artists</th>
	      <th class="th-sm">Classical Composers</th>
	      <th class="th-sm">Mixer</th>
        <th class="th-sm">Year </th>
        <th class="th-sm">Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
<script nonce="{{ csp_nonce() }}">
  $(document).ready(function(){
    var table = $('#medialist').DataTable({
      ajax: '/api/v1/musicmedia_data/{{ media_str }}',
      columns: [
        {data: 'title', visible: false},  // Added first so sorted on title
        {data: 'id', visible: false, searchable: false},
        {data: 'expand_url_title'},
        {data: 'artists'},
        {data: 'classical_composers'},
        {data: 'mixer'},
        {data: 'year'},
        {data: null, orderable: false, defaultContent: "<button vertical-align=\"center\" id=\"modify\" style=\"font-size:14px\">\
                                                          <i class=\"fa fa-pencil\"></i>\
                                                        </button>\
                                                        <button id=\"delete\" vertical-align=\"center\" style=\"font-size:14px\">\
                                                          <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"12\" height=\"14\" fill=\"currentColor\" class=\"bi bi-trash\" viewBox=\"0 0 16 16\"> <path d=\"M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z\"/> <path fill-rule=\"evenodd\" d=\"M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z\"/></svg>\
                                                        </button>"}],
    });

    $('#medialist tbody').on('click', 'button#modify', function(){
      var data = table.row( $(this).parents('tr') ).data();
      var this_url = window.location.href;
      console.log(table.row( $(this) ).data());
      window.location = this_url + "modify/" + data['id'];
    });

    $('#medialist tbody').on('click', 'button#delete', function(){
      var data = table.row( $(this).parents('tr') ).data();
      var this_url = window.location.href;
      console.log(table.row( $(this) ).data());
      window.location = this_url + "delete/" + data['id'];
    });
  });
</script>

{% endblock %}
