# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:

  workflow_call:
    
    inputs:
      PYTHON_VERSION:
        required: false
        type: string
        default: '3.10'
        
      ENABLE_SONAR:
        required: false
        type: boolean
        default: true
        
    secrets:
        SONAR_TOKEN:
          description: 'SonarCloud project token'
          required: false
        
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
      
      - uses: actions/setup-python@v6
        id: setup-python
        with:
          python-version: ${{ inputs.PYTHON_VERSION }}
          
      - uses: actions/checkout@v6

      - name: Cache Virtualenv
        id: cache-venv
        uses: actions/cache@v4
        with:
          path: venv
          key: ${{ runner.os }}-golf-venv-${{ hashFiles('requirements.txt') }}
      
      - name: Install Dependencies
        run: |
            python -m pip install --upgrade pip
            # Manually add execute perms to all scripts
            chmod +x bin/*.sh
            
      - name: Install Virtualenv
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: |
            python -m venv venv
            source venv/bin/activate
            pip install -r requirements.txt
            
      - name: Create Compiled Files
        run: |
          python -m compileall . -f

      - name: Run Lint
        run: |
          source venv/bin/activate
          ls -l
          ls -l bin/
          make lint
          
      - name: Run Unit Tests and code coverage
        run: |
          source venv/bin/activate
          export PYTHONPATH=".:${PYTHONPATH}"
          make coverage-ci
          
      - name: Run Bandit   
        run: |
          source venv/bin/activate
          bandit --exclude ./venv -r .
          
      - name: SonarCloud scanner
        uses: sonarsource/sonarqube-scan-action@v6.0.0
        env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
